<!-- This would need to be dynamically generated everytime user clicks 'next page' after 
first page in survey using the DET feature in REDCap
When server has completed generating page, submit action would then be invoked.
Dynamically generated content would include unique survey link and all prefill data
all fields can be hidden in production-->
<form method="post" action="https://redcap.nubic.northwestern.edu/redcap/surveys/?s=iuLiHBIYaD">

json.each do |a|
<input type="text" name="first_name" value="Jon"><br>

</form>
<!-- Other webpage content goes here -->